* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 1.6;
}

/* Site layout */

.site-grid {
  max-width: 50em;
  margin: 0 auto;

  padding: 0.5em;

  display: grid;
  grid-template-areas:
    "site-header"
    "site-content"
    "site-footer"
    ;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media (max-width: 320px) {
  .site-grid {
    width: auto;
    float: none;
  }
}

/* Site header */

.site-header {
  grid-area: site-header;
}

/* Site navigation */

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  display: inline-block;
}

/* Site content */

.site-content {
  grid-area: site-content;
}

.site-content blockquote {
  font-style: oblique;
}

.site-content h1,h2,h3,h4,h5,h6 {
  margin-top: 1em;
  margin-bottom: 0em;
}

.site-content h1+p,
.site-content h2+p,
.site-content h3+p,
.site-content h4+p,
.site-content h5+p,
.site-content h6+p {
  margin-top: 0.2em;
}

/* Wrapping */

.highlight pre {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff6f0;
  padding: 0.2em;
}

tt.literal {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

/* Site footer */

.site-footer {
  grid-area: site-footer;
  margin: 0 auto;
}

.site-footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-footer li {
  display: inline-block;
}

.site-footer li:not(:first-child):before {
  content: "◊";
  padding-right: 0.3em;
}

.site-footer .copyright {
  padding: 0.5em;
  margin: 0;
}
