* {
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 250);
  color: hsl(240, 14.29%, 13.73%);
  font-family: "Iowan Old Style", "Palatino", "Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", "Georgia", "serif";
  font-weight: 400;
  line-height: 1.6;
  overflow-wrap: break-word;
}

/* Site layout */

.site-container {
  /* mobile */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* for sticky footer */

  margin: 0;
  padding: 0 1rem 0.25rem;
}

@media screen and (min-width: 640px) {
  .site-container {
    max-width: 50rem; /* 800px */
    margin: 0 auto;
  }
}

/* Site header */

.site-header {
  & h1 {
    font-family: "Bahnschrift", "DIN Alternate", "Franklin Gothic Medium",
      "Nimbus Sans Narrow", "sans-serif-condensed", "sans-serif";
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  /* Site navigation */
  & .top-nav {
    display: flex;
    column-gap: 0.4rem;
  }
}

/* Site content */

.site-content {
  flex: 1 1 auto; /* sticky footer */

  & :is(h1, h2, h3, h4, h5, h6) {
    font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
      "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  & blockquote {
    font-style: oblique;
  }
}

/* Article */

article {
  font-size: 1.125rem;
}

/* Wrapping */

.highlight pre {
  background-color: hsl(24, 100%, 97.1%);
  overflow: auto;
  padding: 0.3em 0.1em;
  font-size: 1rem;
}

/* Site footer */

.site-footer {
  & nav {
    display: flex;
    justify-content: center;
    column-gap: 0.4rem;

    &:not(:first-child):before {
      content: "◊";
      padding-right: 0.3rem;
    }
  }

  & .copyright {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
  }
}
