* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 1.6;
  overflow-wrap: break-word;
}

/* Site layout */

.site-container {

  /* mobile */
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0em 1em;
}

@media (min-width: 640px) {
  .site-container {
    max-width: 50em;
    margin: 0 auto;
  }
}

/* Site header */

.site-header h1,h2 {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

/* Site navigation */

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  display: inline-block;
}

/* Site content */

.site-content {
}

.site-content blockquote {
  font-style: oblique;
}

.site-content h1,h2,h3,h4,h5,h6 {
  margin-top: 1em;
  margin-bottom: 0em;
}

.site-content h1+p,
.site-content h2+p,
.site-content h3+p,
.site-content h4+p,
.site-content h5+p,
.site-content h6+p {
  margin-top: 0.2em;
}

/* Wrapping */

.highlight pre {
  background-color: #fff6f0;
  overflow: auto;
  padding: 0.3em 0.1em;
}

/* Site footer */

.site-footer {
  margin: 0 auto;
}

.site-footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-footer li {
  display: inline-block;
}

.site-footer li:not(:first-child):before {
  content: "◊";
  padding-right: 0.3em;
}

.site-footer .copyright {
  padding: 0.5em;
  margin: 0;
}
