{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block htmlhead %}
  {{ super() }}
  {% if article.description %}
  <meta name="description" content="{{ article.description }}">
  {% endif %}
  {%- for tag in article.tags %}
  <meta name="tags" content="{{ tag }}">
  {% endfor -%}
{% endblock htmlhead %}

{% block content %}
  <header>
    <hgroup>
      <h1 class="article-title">{{ article.title }}</h1>
      <h2 class="article-date">
        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
      </h2>
    </hgroup>
  </header>

  <section class="article-content">
    {{ article.content }}
  </section>
{% endblock %}
