<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block htmlhead -%}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
  {% endblock stylesheets %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
{% endblock htmlhead %}
</head>

<body class="site-container">

<header class="site-header">
  <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
{% if SITESUBTITLE %}
  <span class="subtitle">{{ SITESUBTITLE }}</span>
{% endif %}

  <nav class="top-nav">
  {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in pages %}
      <a class="{% if p == page %}active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
    {% endfor %}
  {% endif %}
  {% if DISPLAY_CATEGORIES_ON_MENU %}
    {% for cat, null in categories %}
    <a class="{% if cat == category %}active{% endif %}" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
    {% endfor %}
  {% endif %}
  </nav>
</header>

<main class="site-content">
{% block content %}{% endblock %}
</main>

<footer class="site-footer">
{% block footer %}
<nav>
  {% for link_name, link_url in SOCIAL %}
    <a href="{{ link_url }}" ref="me">{{ link_name }}</a>
  {% endfor %}
  </nav>
  <p class="copyright">&copy; {{ COPYRIGHT_YEAR }} {{ AUTHOR }}</p>
{% endblock %}
</footer>

{% block htmlscript %}{% endblock %}
</body>
</html>
