<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block htmlhead %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
  {% endblock stylesheets %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock htmlhead %}
</head>

<body class="site-grid">

<header class="site-header">
  <hgroup class="site-hgroup">
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    <h2>{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</h2>
  </hgroup>

  <nav class="site-nav">
    <ul>
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in pages %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
      <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">Archives</a></li>
    </ul>
  </nav>
</header>

<section class="site-content">
{% block content %}{% endblock %}
</section>

<footer class="site-footer">
{% block footer %}
  &copy; Emiel van de Laar, 2017
{% endblock %}
</footer>

{% block script %}{% endblock %}

</body>
</html>
