<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block htmlhead %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
  {% endblock stylesheets %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock htmlhead %}
</head>

<body class="site-container">

<header class="site-header">
  <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
{% if SITESUBTITLE %}
  <span class="subtitle">{{ SITESUBTITLE }}</span>
{% endif %}

  <nav class="site-nav">
    <ul>
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in pages %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
  <!--
      <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default("archives.html") }}">Archives</a></li>
  -->
    </ul>
  </nav>
</header>

<div class="site-content">
{% block content %}{% endblock %}
</div>

<footer class="site-footer">
{% block footer %}
  <ul>
  {% for link_name, link_url in SOCIAL %}
    <li><a href="{{ link_url }}">{{ link_name }}</a></li>
  {% endfor %}
  </ul>
  <p class="copyright">&copy; 2017 Emiel van de Laar</p>
{% endblock %}
</footer>

{% block htmlscript %}{% endblock %}
{% if GOOGLE_ANALYTICS_TRACKING_ID %}
{% include "_google_analytics.html" %}
{% endif %}
</body>
</html>
