{% extends "base.html" %}
{% block title %}Latest | {{ SITENAME|striptags }}{% endblock %}

{% block htmlhead %}
  {{ super() }}
  <meta name="description" content="A blog by {{ AUTHOR }}">
{% endblock htmlhead %}

{% block content %}
<h2>All Articles</h2>

{% for article in articles_page.object_list %}
  <article>
    <header>
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <small>
        <em>
        Posted on <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </em>
      </small>
    </header>

    <div class="excerpt">
      {{ article.summary }}
    </div>
  </article>
{% endfor %}

{% endblock content %}
